@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font */
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #efeff1;
}

/* home */
header {
    background: #0e0e10;
    height: 100vh;
}

/* media queries */