@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    background: #0e0e10;
    color: #efeff1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}